/*Main*/
body {
    margin: 0%;
    background-color: #D1D1D1;


}

.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.desk-header {
    background-color: #28999f;
    margin: 0%;
    padding: 25px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.desk-logo {
    image-rendering: optimizeSpeed;
    background-image: none;
    object-fit: contain;
    mix-blend-mode: color-dodge;
}

.top-nav {
    background-color: #5d6870;
}

ul {
    margin: 0%;
    padding: 0%;

    overflow: hidden;
}

li {
    display: inline;
    border-right: 1px solid black;
    float: left;
}



li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;
    text-decoration: underline white;
}

li:hover:not(.active) {
    background-color: greenyellow;
}

.active {
    background-color: lightskyblue;
}

select{
    background-color: transparent;
    color: white;
    border: transparent;
    border-radius: 25px;
    text-decoration:solid;
}

/* Functional */
.input-box{
    display: flex;
}

/* Index */


/* exchange */
.exchange-cent-cont {
    background-color: #5d6870;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
    padding: 5px;
    padding-bottom: 500px;
}

.exchange-cent-hd {
    text-decoration: underline;
}

.exchange-cent-input-mn{
    display: flex;

    text-decoration: underline;

}

.exchange-cent-input-box{
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* LOGIN */
.login-container-mn {
    display: flex;

    background-color: #5d6870;
    max-width: 500px;
    min-width: 500px;
    margin: 0 auto;
}