/*MAIN*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 0;
}

.header-mn {
    margin: 0;
    background-color: midnightblue;
    height: 250px;
    padding: 10px;
    color: white;
}

.header-mn a {
    color: white;
}

.desk-logo {
    image-rendering: optimizeSpeed;
    background-image: none;
    object-fit: contain;
    mix-blend-mode: color-dodge;
    image-resolution: 40px;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #5d6870;
    margin: 0 auto;
}

/* LOGIN PAGE */

.loginContent {
    margin: 0px auto;

    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.registerContent {
    text-align: center;
}


.input {
    border-radius: 5px;
    border: solid thin #aaa;
    padding: 10px;
    margin: 4px;
    display: flex;
}

.button {
    border-radius: 5px;
    border: solid thin #aaa;
    padding: 10px;
    margin: 4px;

    cursor: pointer;
}

/*Exchange*/
.exchange-cont-mn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.warn:hover + .warn-hide{
    display: flex;
    flex-direction: row;
    color: red;
}

.result-cont{
    background-color: cadetblue;
    margin: 0 auto;
    padding: 20px 20px;
    font-size: 16px;
}
.warn-hide{
    display: none;
}
/*Sign up*/
.signup-content {
    margin: 0px auto;

    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/*NAV BAR*/

.top-nav {
    background-color: #5d6870;
}

ul {
    margin: 0%;
    padding: 0%;

    overflow: hidden;
}

li {
    display: inline;
    border-right: 1px solid black;
    float: left;
}



li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;

    padding: 14px 16px;
    text-decoration: underline white;
}

li:hover:not(.active) {
    background-color: greenyellow;
}

.active {
    background-color: lightskyblue;
}