/*Main*/
body{
    margin: 0%;
    background-color: #D1D1D1;

    
}

.container{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.desk-header{
    background-color: #36454F;
    margin: 0%;
    padding: 25px;
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.desk-logo{
    image-rendering: optimizeSpeed;
    background-image: none;
    object-fit: contain;
    mix-blend-mode: color-burn;
}